body {
  color: var(--verndale-black);
  font-family: var(--secondary-font);
}

.container {
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: var(--container-max-width);
  padding-inline: var(--container-padding);
}

.container-fluid {
  max-inline-size: 100%;
}

*:focus:not(.focus-visible),
*:focus:not(.focus-visible) {
  outline: none;
}

.focus-visible {
  outline: solid 2px var(--focus);
  outline-offset: 3px;

  &:-moz-focusring {
    outline: solid 2px var(--focus);
    outline-offset: 3px;
  }
}

a {
  color: var(--primary-purple);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
