@use "./breakpoints";

:root {
  --primary-font: "Titillium Web", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --container-max-width: 1600px;
  --container-padding: 20px;
  --module-spacing: 60px;
  --gutter-width: 18px;

  @include breakpoints.mq(tablet) {
    --gutter-width: 24px;
  }

  @include breakpoints.mq(tabletLandscape) {
    --container-padding: 80px;
    --module-spacing: 150px;
    --gutter-width: 36px;
  }

  @include breakpoints.mq(wide) {
    --container-padding: 120px;
    --gutter-width: 48px;
  }
}
