<footer class="footer">
  <div class="container">
    <p class="footer__copyright">
      Created by <a href="https://www.linkedin.com/in/david-bergmann/">David Bergmann</a> @ <a href="https://www.verndale.com/">Verndale</a>
    </p>
    <p class="footer__copyright">
      Images provided by <a href="https://unsplash.com/">Unplash</a>
    </p>
  </div>
</footer>

<!-- JavaScript -->
{{>scripts}}
