<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Home page' showScripts=showScripts}}
</head>
<body>
  <!-- Header -->
  {{>header}}

  <!-- Main Content -->
  <main>
    {{#with intro}}{{>intro}}{{/with}}
    {{>generic-content}}
    {{>scurve}}
  </main>

  <!-- Footer -->
  {{>footer showScripts=showScripts}}
</body>
</html>
