<div class="intro">
  <div class="container">
    <h1 class="intro__title">{{title}}</h1>
    <p class="intro__description">{{description}}</p>
    <pre class="intro__url"><a href="{{url}}" target="_blank">{{url}}</a></pre>
  </div>
</div>
