<div class="generic-content">
  <div class="container">
    <figure class="picture">
      <picture>
        <source srcset="/id/Wz3u9_GtkWc?w=840&h=500&seed=0&format=webp" type="image/webp" />
        <img
          src="/id/Wz3u9_GtkWc?w=840&h=500&seed=0"
          alt="Image of a pizza"
          width="840"
          height="500"
        />
      </picture>
      <figcaption class="picture__caption">Image by
        <a href="https://unsplash.com/@getuliodt">Getúlio Moraes</a></figcaption>
    </figure>
    <div class="generic-content__description">
      <p>Get random images provided by
        <a href="https://unsplash.com/">Unplash</a>
        to help you build your templates. This tool provides three endpoints to get a random image
        based on a query, or find one by it's Unplash id.</p>
    </div>
  </div>
</div>
